<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title><%= title %> | ek|photos</title>
        <link rel="stylesheet" href="/<%= styles %>">
        <style>
            <%= require('./styles/base.sass') %>
        </style>
    </head>
    <body>
        <%= html %>
        <script src="/<%= js %>"></script>
    </body>
</html>
