<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title><%= title %> | ek|photos</title>
        <link rel="preload" href="/<%= styles %>" as="style" onload="this.rel='stylesheet'">
        <script>
            <%= loadcss %>
        </script>
        <noscript><link rel="stylesheet" href="/<%= styles %>"></noscript>
        <style>
            <%= require('./styles/base.sass') %>
        </style>
    </head>
    <body>
        <%= html %>
    </body>
</html>
