<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title><%= title %> | ek|photos</title>
        <link rel="stylesheet" href="/<%= styles %>">
        <style>
            <%= require('./styles/base.sass') %>
        </style>
    </head>
    <body>
        <%= html %>
        <script>
            (function (src) {
                if (!window.requestAnimationFrame ||
                    !window.webkitRequestAnimationFrame ||
                    !(window.history && history.pushState) ||
                    window.__script_added) {
                    return;
                }
                window.__script_added = true;
                var elem = document.createElement('script');
                elem.src = src; elem.async = 1;
                document.head.appendChild(elem);
            })('/<%= js %>');
        </script>
    </body>
</html>
