<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <script>
        window.__ekphotos__ = Object.create(null);
        (function (h, c) {
            h[c] = h[c].replace(/\bno-js\b/, 'js');
        })(document.documentElement, 'className');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <title><%= title %> | ek|photos</title>
        <link rel="stylesheet" href="/<%= styles %>">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Herschel_R">
        <meta name="twitter:title" content="ek|photos">
        <meta name="twitter:description" content="<%= title %>">
        <% if (image) { %>
            <meta name="twitter:image" content="<%= image %>">
        <% } %>
        <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
        <meta name="theme-color" content="#222222">
        <style>
            <%= require('./styles/base.sass') %>
        </style>
    </head>
    <body>
        <%= html %>
        <script src="/<%= js %>" async></script>
    </body>
</html>
